Babel==2.9.1
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
cloudpickle==1.3.0
docutils==0.16
doit==0.32.0
idna==2.9
lxml==4.6.3
Mako==1.1.2
Markdown==3.2.1
MarkupSafe==1.1.1
natsort==7.0.1
Nikola==8.0.4
piexif==1.1.3
Pillow==8.1.1
Pygments==2.7.4
PyRSS2Gen==1.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
Unidecode==1.1.1
urllib3==1.25.8
Yapsy==1.12.2
